<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32000">
        <setting label="32001" type="text" id="url" default="" />
        <setting label="32002" type="text" id="username" default="" />
        <setting label="32003" type="text" id="password" option="hidden" default="" enable="!eq(-1,)" />
        <setting label="32004" type="select" id="authtype" values="Basic|Digest" default="Basic" enable="!eq(-2,)" />
    </category>
    <category label="33000">
        <setting label="33001" type="number" id="width" default="640" option="int" />
        <setting label="33002" type="number" id="height" default="480" option="int" />
        <setting label="33003" type="number" id="xoffset" default="0" option="int" />
        <setting label="33004" type="number" id="yoffset" default="0" option="int" />
        <setting label="33005" type="slider" id="interval" default="500" range="50,50,1000" option="int" />
        <setting label="33006" type="bool" id="autoclose" default="true" />
        <setting label="33007" type="slider" id="duration" default="15" range="3,1,120" option="int" enable="eq(-1,true)" />
        <setting label="33008" type="slider" id="slidespeed" default="1000" range="100,100,1000" option="int" enable="eq(-2,true)" />
    </category>
</settings>
